.staking-plans-container {
    text-align: center;
    margin: 20px;
  }
  
  .plans {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .plan {
    border: 2px solid #f3c623;
    padding: 20px;
    border-radius: 10px;
    background-color: #000;
    color: #1d19e7;
    width: 200px;
  }
  
  .stake-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f3c623;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .stake-button:hover {
    background-color: #d1a71d;
  }
  